{% extends 'base.html.twig' %}
{# Attention choses à ajouter et changer, certains path et directory pour les images upload par les user #}
{# Attention choses à ajouter et changer, certains path et directory pour les images upload par les user #}
{# Attention choses à ajouter et changer, certains path et directory pour les images upload par les user #}
{# Attention choses à ajouter et changer, certains path et directory pour les images upload par les user #}
{# Attention choses à ajouter et changer, certains path et directory pour les images upload par les user #}
{# Attention choses à ajouter et changer, certains path et directory pour les images upload par les user #}
{% block title %}
    Annonces - Plant et Flower
{% endblock %}

{% block body %}
    <main>
        <div class="containerGlobaleProducts">
            {# Bannière #}
            <div class="container_imgsearchProducts">
                <img class="img-banniere" src="{{ asset('media/img/banniere-search.png') }}" alt="banniere"/>
                <div class="txt_banniereProducts">
                    Donnez à vos végétaux une seconde
                    vie, et achetez-en de nouveaux
                </div>
                {#                filtre à installer #}
                {#                {{ form_start(form, {'attr': {'class': 'filtre searchProducts'}} ) }} #}
                <div class="bouton-searchProducts">
                    {#                    {{ form_row(form.q) }} #}

                    {#                    {{ form_row(form.categories) }} #}
                    <div class='searchPrix'>
                        {#                        {{ form_row(form.min) }} #}
                        {#                        {{ form_row(form.max) }} #}
                    </div>
                    {#                    <div id="slidePrix" data-min="{{ min }}" data-max="{{ max }}"></div> #}
                    {#                    {{ form_row(form.shipment) }} #}
                    <button class="btn-searchProducts" type="submit">Filtrer</button>
                </div>
                {#                {{ form_end(form) }} #}

                <div class="total-annonce">
                    {#                    changer le premier total par le nombre total d'annonces affichées selon le filtre ou la pagination sélectionner #}
                    {{ total }} annonces sur {{ total }}
                </div>
                <div class="navigation">
                    {#                    pagination à installer avec kplabs #}
                    {#                    {{ knp_pagination_render(annonces) }} #}
                </div>
            </div>

            {# Fin bannière #}
            <div class="contenuProducts">


                {% for annonce in annonces %}
                    <div class="card">
                        <a class="img-annonce-flex" href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                            <div class="image-annonce">
                                {% for image in annonce.images %}
                                    <img src="{{ asset('/uploads/'~ image.name) }}" alt="Image annonce"/>
                                {% endfor %}
                            </div>
                            <div class="card-content">
                                <div class="align-etoile">
                                    <span class="nom-plante">{{ annonce.title }}</span>
                                    <p class="etoile">☆</p>
                                    <p class="prix">
                                        {{ annonce.priceTotal }}€</p>
                                </div>
                                <div class="align-livraison">
                                    {% if annonce.shipement == true %}
                                        <p class="livraison">
                                            Livraison possible
                                        </p>
                                    {% else %}
                                        <p class="not-livraison">
                                            Remise en main propre
                                        </p>
                                    {% endif %}
                                </div>
                                <p class="date-expiration">
                                    Date d'expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
