{% extends 'base.html.twig' %}

{% block title %}
    Annonces - Plant et Flower
{% endblock %}

{% block js %}
    <script defer src={{ asset('assets/Javascript/annonces.js') }}></script>
{% endblock js %}

{% block body %}
    <div class="containerGlobaleProducts">
        <div class="globaleProducts_head">
            <div class="annonces-container-title_searchProducts">
                <h1>
                    Donnez à vos végétaux une seconde
                    vie et achetez-en de nouveaux
                </h1>
                <div class="annonces-container-search">
                    {{ form_start(form, {'attr': {'class': 'search-formulaire'}} ) }}
                    <div class="annonces-search_title">
                        {{ form_row(form.title, {
                            'name': 'title',
                            'id': 'inputSearch',
                        }) }}
                    </div>
                    <div class="annonces-search_btn">
                        {{ form_row(form.Rechercher, {
                            'onclick': 'getValue();'
                        }) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="annonces-container-btn_create">
                {% if app.user and app.user.owner %}
                    <a class="btn-create_annonce"
                       href="{{ path('annonce_ajouter') }}">Créer une annonce</a>
                {% endif %}
            </div>
        </div>
        {% for annonce in annoncesForScript %}
            {% if annonce.confirm == false %}
                <p class="plantName" id="{{ annonce.title }}"></p>
            {% endif %}
        {% endfor %}
        {% if not form.vars.valid %}
            <div>
                {{ form_errors(form) }}
            </div>
        {% elseif totalAnnoncesFound == 0 %}
            <div class="total-annonce">
                {{ totalAnnonces }} annonces
            </div>
            {% else %}
                <div class="total-annonce">
                    {{ totalAnnoncesFound }} annonces trouvées sur {{ totalAnnonces }}
                </div>
        {% endif %}
        <div class="contenuProducts">
            {% for annonce in annonces %}
                {% if annonce.confirm == false %}
                    <div class="card">
                        <a class="img-annonce-flex" href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                            <div class="image-annonce">
                                {% for image in annonce.images|slice(0,1) %}
                                    <img src="{{ asset('/uploads/'~ image.name) }}" alt="Image annonce"
                                         class="imageCardAnnonces"/>
                                {% endfor %}
                            </div>
                            <div class="card-content">
                                <div class="align-etoile">
                                    <span class="nom-plante">{{ annonce.title }}</span>
                                    <p class="etoile">☆</p>
                                    <p class="prix">
                                        {{ annonce.priceTotal }}€</p>
                                </div>
                                <div class="align-livraison">
                                    {% if annonce.shipement == true %}
                                        <p class="livraison">
                                            Livraison possible
                                        </p>
                                    {% endif %}
                                    {% if annonce.handDelivery == true %}
                                        <p class="not-livraison">
                                            Remise en main propre
                                        </p>
                                    {% endif %}
                                </div>
                                <p class="date-expiration">
                                    Date d'expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
