{% extends 'base.html.twig' %}

{% block title %}
    Annonces - Plant et Flower
{% endblock %}

{% block js %}
    <script defer src={{ asset('assets/Javascript/annonces.js') }}></script>
{% endblock js %}

{% block body %}
    <div class="containerGlobaleProducts">
        <div class="globaleProducts_head">
            <div class="annonces-container-title_searchProducts">
                <h1>
                    Recherche ton végétal ici
                </h1>
                <div class="annonces-container-btn_create" id="container-btn_create_1">
                    {% if app.user and app.user.owner %}
                        <a class="btn-create_annonce"
                           href="{{ path('annonce_ajouter') }}"><strong>+</strong> Ajouter une annonce</a>
                    {% elseif app.user %}

                    {% else %}
                        <a class="btn-create_annonce"
                           href="{{ path('registration_register') }}">Inscrivez-vous pour acheter ou vendre</a>
                    {% endif %}
                </div>
            </div>
            <div class="annonces-container-position_search">
                <div class="annonces-container-search">
                    {{ form_start(form, {'attr': {'class': 'search-formulaire'}} ) }}
                    <div class="annonces-search_title">
                        {{ form_row(form.title, {
                            'name': 'title',
                            'id': 'inputSearch',
                        }) }}
                    </div>
                    <div class="annonces-search_btn">
                        {{ form_row(form.Rechercher, {
                            'onclick': 'getValue();'
                        }) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="annonces-container-btn_create" id="container-btn_create_2">
                {% if app.user and app.user.owner %}
                    <a class="btn-create_annonce"
                       href="{{ path('annonce_ajouter') }}"><strong>+</strong> Ajouter une annonce</a>
                {% elseif app.user %}

                {% else %}
                    <a class="btn-create_annonce"
                       href="{{ path('registration_register') }}">Inscrivez-vous pour acheter ou vendre</a>
                {% endif %}
            </div>
        </div>
        {% for annonce in annoncesForScript %}
            {% if annonce.confirm == false %}
                <p class="plantName" id="{{ annonce.title }}"></p>
            {% endif %}
        {% endfor %}
        {% if noAnnonce == true %}
            <div class="total-annonce">
                <p>Aucune annonce n'a été trouvé pour votre recherche...</p>
            </div>
        {% elseif totalAnnoncesFound == 0 %}
            <div class="total-annonce">
                <p>{{ totalAnnonces }} annonces</p>
            </div>
        {% else %}
            <div class="total-annonce">
                <p>{{ totalAnnoncesFound }} annonces trouvées sur {{ totalAnnonces }}</p>
            </div>
        {% endif %}
        <div class="contenuProducts">
            {% for annonce in annonces %}
                {% if annonce.confirm == false %}
                    <a class="annonces-ref_card"
                       data-ref={{ annonce.id }} href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                        <div class="container-card">
                            <div class="container-img_city">
                                {% for image in annonce.images|slice(0,1) %}
                                    <img src="{{ asset('/uploads//' ~ image.name) }}"
                                         alt="{{ annonce.title }}"/>
                                {% endfor %}
                                <span class="hP-city">{{ annonce.ville | upper | slice(0, 8) ~ '...' }}</span>
                            </div>
                            <div class="container-text_card">
                                <div class="container-plant_name">
                                    <span class="plant-name">{{ annonce.title|upper }}</span>
                                </div>
                                <div class="container-price">
                                    <p class="price">{{ annonce.priceTotal }} €</p>
                                </div>
                                <div class="container-hand_delivery_shipment">
                                    {% if annonce.handDelivery == true %}
                                        <p class="hand_delivery">
                                            En main propre
                                        </p>
                                    {% endif %}
                                    {% if annonce.shipement == true %}
                                        <p class="shipment">
                                            Livraison
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="container-more">
                                    <p class="more">+ d'infos</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
