{% extends 'base.html.twig' %}

{% block title %}FAQ - Plant&Flower{% endblock %}
{% block js %}
    <script defer src={{ asset('assets/Javascript/faq.js') }}></script>
{% endblock %}
{% block body %}
    <div class="globalDiv">
        <div class="title-faq" id="titre">
            <div class="container-title">
                <p class="titre">Foire aux questions</p>
            </div>
        </div>
        <div class="faq">
            <div id="dropdown">
                <div id="question" class="question">
                    <p>Qu'est ce que Plant&Flower ?</p>
                    <img id="chevron" class="chevron" src="{{ asset('media/img/chevron-down.png') }}" alt="">
                </div>
                <div id="reponse" class="reponse">
                    <p class="txt-dropdown">
                        Plant&Flower est une jeune Start-up qui souhaite révolutionner la
                        vente de végétaux entre particuliers. En la rendant sûre par un
                        paiement en ligne sécurisé et en profitant de l’expédition (via
                        Mondial Relay) pour pouvoir vendre des végétaux à travers toute la
                        France. Faites des économies et réduisez considérablement le
                        gaspillage chez vous de vos végétaux !
                    </p>
                </div>
                <div id="question2" class="question">
                    <p>Comment utiliser le site ?</p>
                    <img id="chevron2" class="chevron" src="{{ asset('media/img/chevron-down.png') }}" alt="">
                </div>
                <div id="reponse2" class="reponse">
                    <p>
                        Connecte-toi sur notre site, cherche le végétal que tu souhaites.
                        Découvre les offres et procède à la réservation puis l’achat
                        directement sur notre site via notre solution de paiement sécurisé
                        <a id="lienMango" href="https://www.mangopay.com/fr/" target="_blank">(MangoPay)</a>, et
                        profite
                        si tu le souhaites de l’expédition via Mondial
                        Relay. Après confirmation de ta commande, tu recevras les
                        coordonnées du vendeur ainsi que les informations du suivi de colis.
                    </p>
                </div>
                <div id="question3" class="question">
                    <p>Plant&Flower, c’est gratuit ?</p>
                    <img id="chevron3" class="chevron" src="{{ asset('media/img/chevron-down.png') }}" alt="">
                </div>
                <div id="reponse3" class="reponse">
                    <p>Le site Plant&Flower est un site totalement gratuit pour les
                        particuliers et vendeurs particuliers. Il y a ni abonnement à payer,
                        ni de frais cachés. Des frais de service sont appliqués pour les
                        utilisateurs clients. Cette commission sert à financer la
                        maintenance du service (hébergement, domaines, équipes,
                        matériel...)..
                    </p>
                </div>
                <div id="question4" class="question">
                    <p>La qualité des végétaux :</p>
                    <img id="chevron4" class="chevron" src="{{ asset('media/img/chevron-down.png') }}" alt="">
                </div>
                <div id="reponse4" class="reponse">
                    <p> Tous les particuliers présents sur notre plate-forme sont des
                        amoureux des végétaux comme vous ! Les offres promotionnelles ou «
                        anti-gaspillages » seront détaillées sur l’annonce des végétaux,
                        ainsi à l’aide des photos disponibles, vous pourrez avoir un rendu
                        de votre achat.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

