{% extends 'base.html.twig' %}

{% block title %}Accueil - Plant&Flower{% endblock %}

{% block js %}
    <script defer src={{ asset('assets/Javascript/homepage.js') }}></script>
{% endblock js %}

{% block body %}
    <div class="container-hp">
        <div class="img-exchange">
            <img src="{{ asset('media/img/exchange.png') }}" alt="banniere"/>
        </div>
        <h1>
            Donnez à vos végétaux une seconde
            vie et achetez-en de nouveaux
        </h1>
        <div class="container-search">
            {{ form_start(form, {'attr': {'class': 'search-formulaire'}} ) }}
            <div class="search_title">
                {{ form_row(form.title,{
                    'name': 'title'
                }) }}
            </div>
            <div class="search_btn">
                {{ form_row(form.Rechercher) }}
            </div>
            {{ form_end(form) }}
        </div>
        <div class="container-slideshow">
            {% for annonce in annonces %}
                {% if annonce.sold == false %}
                    <a class="mySlides"
                       data-ref={{ annonce.id }} href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                        <div class="container-card">
                            <div class="container-img_city">
                                {% for image in annonce.images|slice(0,1) %}
                                    <img src="{{ asset('/uploads//' ~ image.name) }}"
                                         alt="{{ annonce.title }}"/>
                                {% endfor %}
                                <span class="hP-city">{{ annonce.ville | upper | slice(0, 8) ~ '...' }}</span>
                            </div>
                            <div class="container-text_card">
                                <div class="container-plant_name">
                                    <span class="plant-name">{{ annonce.title|upper }}</span>
                                </div>
                                <div class="container-price">
                                    <p class="price">{{ annonce.priceTotal }} €</p>
                                </div>
                                <div class="container-hand_delivery_shipment">
                                    {% if annonce.handDelivery == true %}
                                        <p class="hand_delivery">
                                            En main propre
                                        </p>
                                    {% endif %}
                                    {% if annonce.shipement == true %}
                                        <p class="shipment">
                                            Livraison
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="container-more">
                                    <p class="more">+ d'infos</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="container-all_plants" id="first-container-all_plants">
            <a href="{{ path('home_annonces') }}">Tous les végétaux</a>
        </div>
    </div>
    <div class="container-functioning">
        <div class="container-functioning_title">
            <p>Comment ça fonctionne ?</p>
        </div>
        <div class="container-all_step">
            <div class="container-step">
                <div class="step-left">
                    <img src="{{ asset('media/img/decouvre.png') }}" alt="">
                </div>
                <div class="step-right">
                    <h2>DÉCOUVRE LES VÉGÉTAUX</h2>
                    <p>Connecte-toi et trouve les végétaux à vendre entre particuliers dans toute la France. À
                        des prix imbattables ! Tu peux aussi vendre tes végétaux. Inscription gratuite et sans
                        aucun engagement !
                        <br>Livraison possible via Mondial Relay !
                    </p>
                </div>
            </div>
            <div class="container-step">
                <div class="step-left">
                    <img src="{{ asset('media/img/reserve.png') }}" alt="">
                </div>
                <div class="step-right">
                    <h2>RÉSERVE TON VÉGÉTAL</h2>
                    <p>En quelques clics, trouve et réserve le végétal de tes rêves ! Paie en toute sécurité via
                        la solution de paiement sécurisé
                        <a href="https://www.mangopay.com/fr" target="_blank">MangoPay</a>
                        ou avec ta propre carte bancaire ! Une confirmation de commande ainsi que les coordonnées
                        du vendeur vous seront envoyées après l'achat par mail.
                    </p>
                </div>
            </div>
            <div class="container-step">
                <div class="step-left">
                    <img src="{{ asset('media/img/receptionne.png') }}" alt="">
                </div>
                <div class="step-right">
                    <h2>RÉCEPTIONNE TON VÉGÉTAL</h2>
                    <p>Pars à la rencontre du vendeur ou réceptionne directement chez toi le végétal grâce à
                        notre collaboration avec Mondial Relay ! Et voilà, ton végétal est chez toi, le sourire
                        revient !
                </div>
            </div>
        </div>
    </div>
    <div class="container-all_plants" id="second-container-all_plants">
        <a href="{{ path('home_annonces') }}">Tous les végétaux</a>
    </div>
{% endblock %}