{% extends 'base.html.twig' %}

{% block title %}Acceuil - Plant&Flower{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/homepage.css") }}">
{% endblock %}
		{% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}

{% block body %}
    <main>
        <div class="containerGlobale">
            {# Bannière #}
            <div class="container_imgsearch">
                <img class="img-banniere" src="{{ asset('media/img/banniere-search.png') }}" alt="banniere"/>
                <div class="txt_banniere">
                    Donnez à vos végétaux une seconde
                    vie et achetez-en de nouveaux
                </div>

                <div class="search">
                    {{ form_start(form, {'attr': {'class': 'search-formulaire'}} ) }}
                    <div class="titre-search">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="bouton-search">
                        {{ form_row(form.Rechercher) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            {# Fin bannière #}
            <div class="contenu" id="annonce">
                {% set img = '' %}
                {% for annonce in annonces %}
                    <div class="card">
                        <a class="img-annonce-flex" href={{ path('home_annonces', {'id': annonce.id}) }}>
                            <div class="image-annonce">
                                {% for image in images %}
                                    {% if image.annonce.id == annonce.id %}
                                        {% set img = annonce.images[0].name %}
                                    {% endif %}
                                {% endfor %}
                                <img src={{ asset('/uploads/annonces/' ~ img) }} class="img-orchidee"
                                     alt="Image annonce"/>
                            </div>
                            <div class="card-content">
                                <div class="align-etoile">
                                    <span class="nom-plante">{{ annonce.title }}</span>
                                    <p class="etoile">☆</p>
                                    <p class="prix">
                                        {{ annonce.priceTotal }}€</p>
                                </div>
                                <div class="align-livraison">
                                    {% if annonce.shipment == true %}
                                        <p class="livraison">
                                            Livraison possible
                                        </p>
                                    {% else %}
                                        <p class="not-livraison">
                                            Remise en main propre
                                        </p>
                                    {% endif %}
                                </div>
                                <p class="date-expiration">
                                    Date d'expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {# <ul class="navigation">
			{% for item in 1..((total / limit)|round(0, 'ceil')) %}
			<li>
				<a class="numeroPage" href="?page={{ item }}">{{ item }}</a>
			</li>
			{% endfor %}
		</ul> #}
                {# {{ knp_pagination_render(annonces) }} #}
            </div>

            {# Début rubrique dernières annonces #}
            <div class="dernieres-annonces">
                <div class="txt-dernieres-annonces">Nos dernières annonces</div>
            </div>


            {# Début caroussel test #}

            <div id="slideshow">
                <div id="slides">
                    {% for lastannonce in lastAnnonces %}
                        {% if lastannonce.sold == false %}
                            <div class="item" data-ref={{ lastannonce.id }}>
                                <a href={{ path('annonce', {'id': lastannonce.id}) }}>
                                    <div class="image-annonce">
                                        {% for image in images %}
                                            {% if image.annonce.id == lastannonce.id %}
                                                <img src={{ asset('/uploads/annonces/' ~ lastannonce.images[0].name) }} class="img-orchidee"
                                                     alt="Image annonce"/>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="card-content">
                                        <div class="align-etoile">
                                            <span class="nom-plante">{{ lastannonce.title }}</span>
                                            <p class="etoile">☆</p>
                                            <p class="prix">Prix : {{ lastannonce.priceTotal }}€</p>
                                        </div>
                                        <div class="align-livraison">
									<span class="ville">
										{{ lastannonce.ville | upper }}
									</span>
                                            {% if lastannonce.shipment == true %}
                                                <p class="livraison">
                                                    Livraison possible
                                                </p>
                                            {% else %}
                                                <p class="not-livraison">
                                                    Remise en main propre
                                                </p>
                                            {% endif %}
                                        </div>

                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="btn-vegetaux-mobile">
                <button class="btn-vegetaux"><a class="lien-btn-vegetaux" href="{{ path('home_annonces') }}">Tous les
                        végétaux</a></button>
            </div>
            {# Fin du carrousel #}

            {# Début rubrique Comment ça fonctionne #}
            <p class="title-fonctionnement">
                Comment ça fonctionne ?</p>

            <div class="container-fonctionnement">
                <img class="img-fonctionnement" src="{{ asset('media/img/background-ccm.png') }}" alt="banniere"/>
                <div class="decouvre">
                    <div class="decouvre-img"><img src="{{ asset('media/img/decouvre.png') }}" alt=""></div>
                    <div class="txt-decouvre">
                        <h2 class="title-etape">DÉCOUVRE LES VÉGÉTAUX</h2>
                        <p>Connecte-toi et trouve les végétaux à vendre entre particuliers dans toute la France. À des
                            prix imbattables ! Tu peux aussi vendre tes végétaux. Inscription gratuite et sans aucun
                            engagement !
                            <br>Livraison possible via Mondial Relay !
                        </p>
                    </div>
                </div>

                <div class="reserve">
                    <div class="reserve-img"><img src="{{ asset('media/img/reserve.png') }}" alt=""></div>
                    <div class="txt-decouvre">
                        <h2 class="title-etape">RÉSERVE TON VÉGÉTAL</h2>
                        <p>En quelques clics, trouve et réserve le végétal de tes rêves ! Paie en toute sécurité via la
                            solution de paiement sécurisé
                            <a class="mango" href="https://www.mangopay.com/fr">MangoPay</a> ou avec ta
                            propre carte bancaire! Une confirmation de commande ainsi que les coordonnées du vendeur
                            vous seront envoyées après achat.
                        </p>
                    </div>
                </div>

                <div class="receptionne">
                    <div class="receptionne-img"><img src="{{ asset('media/img/receptionne.png') }}" alt=""></div>
                    <div class="txt-decouvre">
                        <h2 class="title-etape">RÉCEPTIONNE TON VÉGÉTAL</h2>
                        <p>Pars à la rencontre du vendeur ou réceptionne directement chez toi le végétal grâce à notre
                            collaboration avec Mondial Relay! Et voilà, ton végétal est chez toi, le sourire revient !
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
