{% extends 'base.html.twig' %}

{% block title %}Inscription - Plant&Flower{% endblock %}

{% block body %}
    <div class="container-register">
        {#            {% if editMode %} #}
        {#            <h2>Modifiez vos informations </h2> #}
        {#            {% else %} #}
        <h2 id="title_get_to_know">Faisons-connaissance</h2>
        <div class="container-social_networks-img_social_network">
            <p class="social_networks">Vous avez déjà un compte?
                <a href={{ path('security_login') }}>Connectez-vous</a>
                ou utilisez
            </p>

            <div class="img_social_network">
                {#                <a href="{{ path('connect_google') }}"><img class="google" src="img/google.png" alt="Logo Google"></a> #}
                {#                <a href="{{ path('connect_facebook') }}"><img class="facebook" src="img/facebook.png" alt="Logo Facebook"></a> #}
            </div>
        </div>
        {#        {% endif %} #}
        {{ form_start(registrationForm) }}
        <div class="container-name-firstname">
            <div class="name">
                {{ form_row(registrationForm.lastname, {'label': false,'attr': {'placeholder': 'Nom*'}} ) }}
            </div>
            <div class="firstname">
                {{ form_row(registrationForm.firstname, {'label': false,'attr': {'placeholder': 'Prénom*'}} ) }}
            </div>
        </div>
        <div class="information-text">
            <p>
                Votre adresse ne sera pas visible auprès des autres utilisateurs, elle servira uniquement à programmer
                les livraisons.
            </p>
        </div>
        <div class="container-birthday-address-email">
            <div class="birthday">
                {{ form_row(registrationForm.birthday) }}
            </div>
            <div class="address">
                {{ form_row(registrationForm.address, {'label': false,'attr': {'placeholder': 'Adresse*'}} ) }}
            </div>
            <div class="address2">
                {{ form_row(registrationForm.address2, {'label': false,'attr': {'placeholder': 'Complément Adresse'}} ) }}
            </div>
            <div class="zipcode">
                {{ form_row(registrationForm.zipCode, {'label': false,'attr': {'placeholder': 'Code postale*'}} ) }}
            </div>
            <div class="city">
                {{ form_row(registrationForm.city, {'label': false,'attr': {'placeholder': 'Ville*'}}) }}
            </div>
            <div class="country">
                {{ form_row(registrationForm.countryOfResidence, {'label': false,'attr': {'placeholder': 'Votre pays de résidence*'}} ) }}
            </div>
            <div class="nationality">
                {{ form_row(registrationForm.nationality, {'attr': {'placeholder': 'Votre nationnalité*'}} ) }}
            </div>
            <div class="container-UserCategory-email">
                <div class="UserCategory">
                    {{ form_row(registrationForm.Owner) }}
                </div>
                <div class="email">
                    {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Votre Email*'}} ) }}
                </div>
                <div class="password">
                    {{ form_row(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe*'}}) }}
                </div>
            </div>

            {#         captcha #}

            {# doit être le même nom que celui indiqué sur le formulaire #}
            {{ form_row(registrationForm.recaptcha) }}

            {#         Cela affichera l’erreur du captcha à l’utilisateur #}
            {{ form_errors(registrationForm.recaptcha) }}

            <div class="agree_terms">
                {{ form_row(registrationForm.agreeTerms, {
                    'attr': {'label': false,},'help_html': true,
                }) }}
            </div>

            <button type="submit" class="btn_registration">
                {#                        {% if editMode %} #}
                {#                            Modifier #}

                {#                        {% else %} #}
                {#            Inscription #}

                {#                        {% endif %} #}
            </button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}