{% extends 'base.html.twig' %}

{% block title %}Paiement - Plant et Flower{% endblock %}



{% block body %}
    <h1>Etape 2/2</h1>
    <h2>Paiement</h2>
    <h3>Votre récapitulatif</h3>
    <p>Montant de l'achat </p><p>{{ annoncePriceOrigin }}€</p>
    <p>Frais Plant&Flower </p><p>{{ annoncePriceTotal - annoncePriceOrigin }}€</p>
    {% if buyerDelivery == true %}
        <p>Coûts de livraison Mondial Relay</p>
        <p>
            {% if  annoncePoids  == "0g - 500g" %}
                <span class="priceLivraison">4.40€</span>
                <input type="hidden" value="{{ prixPoids == 4.40 }}">
            {% elseif  annonce.poids  == "501g - 1kg" %}
                <span class="priceLivraison">4.90€</span>
                <input type="hidden" value="{{ prixPoids == 4.90 }}">
            {% elseif   annonce.poids  == "1.001kg - 2kg" %}
                <span class="priceLivraison">6.40€</span>
                <input type="hidden" value="{{ prixPoids == 6.40 }}">
            {% elseif annonce.poids  == "2.001kg - 3kg" %}
                <span class="priceLivraison">6.60€</span>
                <input type="hidden" value="{{ prixPoids == 6.60 }}">
            {% endif %}
        </p>
        <h3>Total à payer </h3><h3>{{ annoncePriceTotal + prixPoids }}€</h3>
    {% else %}
        <h3>Total à payer </h3><h3>{{ annoncePriceTotal }}€</h3>
    {%  endif %}
    <form action="{{ cardRegistrationUrl }}" method="post">
        <input type="hidden" name="data" value="{{ preregistrationData }}"/>
        <input type="hidden" name="accessKeyRef" value="{{ accessKey }}"/>
        <input type="hidden" name="returnURL" value="{{ returnURL }}"/>

        <label for="cardNumber">Numéro de carte</label>
        <input type="text" name="cardNumber" value=""/>
        <div class="clear"></div>

        <label for="cardExpirationDate">Date d'expiration</label>
        <input type="text" name="cardExpirationDate" value=""/>
        <div class="clear"></div>

        <label for="cardCvx">Cryptogramme</label>
        <input type="text" name="cardCvx" value=""/>
        <div class="clear"></div>

        <input type="submit" value="Payer"/>
    </form>
{% endblock %}