{% extends "base.html.twig" %} 

{% block title %}Création d'une annonce - Plant&Flower{% endblock %}

{% block js %}
    <script defer src={{ asset('assets/Javascript/createEditAnnonce.js') }}></script>
{% endblock js %}

{% block body %}
    {{ form_start(annonceForm) }}
    <div class="annonceForm">
        <h2>Vendez votre végétal</h2>
        <div class="container-form_cea-img_cea">
            <div class="container-img_cea">
                <img src="{{ asset('media/img/reserve.png') }}">
            </div>
            <div class="form_cea">
                <div class="form_cea_left">
                    <div class="cea-item">
                        <p>Ajouter jusqu'à 3 photos. (1 photo minimum est obligatoire pour vendre votre végétal)</p>
                    </div>
                    <div class="cea-item container-img_annonce">
                        <div class="container-img" id="createAnnonce-uploader_0">
                            {{ form_row(annonceForm.image_0, {
                                'label': '+',
                                'attr': {
                                    'class': 'add_img',
                                    'onchange': 'createAnnoncePreviewNewImg0(this)',
                                },
                            }) }}
                        </div>
                        <div class="container-img new_img" id="createAnnonce-container-new_img_0">
                            <img id="createAnnonce-new_img_0" src="#">
                        </div>
                        <div class="container-img" id="createAnnonce-uploader_1">
                            {{ form_row(annonceForm.image_1, {
                                'label': '+',
                                'attr': {
                                    'class': 'add_img',
                                    'onchange': 'createAnnoncePreviewNewImg1(this)',
                                },
                            }) }}
                        </div>
                        <div class="container-img new_img" id="createAnnonce-container-new_img_1">
                            <img id="createAnnonce-new_img_1" src="#">
                        </div>
                        <div class="container-img" id="createAnnonce-uploader_2">
                            {{ form_row(annonceForm.image_2, {
                                'label': '+',
                                'attr': {
                                    'class': 'add_img',
                                    'onchange': 'createAnnoncePreviewNewImg2(this)',
                                },
                            }) }}
                        </div>
                        <div class="container-img new_img" id="createAnnonce-container-new_img_2">
                            <img id="createAnnonce-new_img_2" src="#">
                        </div>
                        {% if not annonceForm.vars.valid %}
                            <div>
                                {{ form_errors(annonceForm) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="cea-item">
                        <h3>Titre</h3>
                        {{ form_row(annonceForm.title, {
                            'label': false,
                            'attr': {
                                'placeholder': 'ex. Orchidée',
                            }
                        }) }}
                    </div>
                    <div class="cea-item cea-choice_type">
                        <h3>Catégorie</h3>
                        {{ form_row(annonceForm.category, {
                            'label': false,
                            'attr': {
                                'class': 'cea-choiceType',
                                'placeholder': 'ex: cactus en bonne état',
                            }
                        }) }}
                    </div>
                    <div class="cea-item">
                        <h3>Description (facultatif)</h3>
                        {{ form_row(annonceForm.description, {
                            'label': false,
                            'attr': {
                                'placeholder': 'ex: cactus en bonne état',
                            }
                        }) }}
                    </div>
                    <div class="cea-item cea-choice_type">
                        <h3>Poids du végétal</h3>
                        {{ form_row(annonceForm.poids, {
                            'label': false,
                            'attr': {
                                'class': 'cea-choiceType',
                            }
                        }) }}
                    </div>
                    <div class="cea-item cea-check_plantPot">
                        {{ form_row(annonceForm.plantPot) }}
                        <h3>Pot disponible</h3>
                    </div>
                </div>
                <div class="form_cea_right">
                    <div class="cea-item">
                        <h3>Date d'expiration</h3>
                        {{ form_row(annonceForm.dateExpiration, {
                            'label': false,
                        }) }}
                    </div>
                    <div class="cea-item cea-container-all_price">
                        <div class="cea-all_price">
                            <div class="cea-price">
                                <h3>Prix</h3>
                                <div class="cea-origin_price">
                                    {{ form_row(annonceForm.priceOrigin, {
                                        'label': false,
                                        'id': 'createAnnonce_origin_price',
                                        'attr': {
                                            'placeholder': 'ex. 2.50',
                                        }
                                    }) }}
                                    <p>€</p>
                                </div>
                            </div>
                            <div class="cea-price">
                                <h3>Prix définitif</h3>
                                <div class="cea-total_price">
                                    <p id="createAnnonce_total_price">€</p>
                                </div>
                            </div>
                        </div>
                        <div id="createAnnonce_price_message"></div>
                    </div>
                    <div class="cea-item">
                        <p class="cea-taxes_txt">
                            Pour que le site reste gratuit, nous appliquons des frais de commission
                            qui servent à financer la maintenance du service (hébergement, domaines, équipes,
                            matériel...).
                        </p>
                    </div>
                    <div class="cea-item cea-container-delivery_mod">
                        <div class="cea-check_delivery_mod">
                            {{ form_row(annonceForm.handDelivery,{
                                'id': 'createAnnonce-hand_delivery'
                            }) }}
                            <h3 class="mode">Remise en main propre</h3>
                        </div>
                        <div class="cea-check_delivery_mod">
                            {{ form_row(annonceForm.shipement,{
                                'id': 'createAnnonce_shipement'
                            }) }}
                            <h3 class="mode" id="shipement-title">Livraison<wbr> Mondial Relay</h3>
                            <img class="img_mondial_relay"
                                 src="{{ asset('media/img/mondialRelay.png') }}"
                                 alt="Logo Mondial Relay">
                            <div class="container-mondial_relay_widget">
                                <div class="mondial_relay_widget" id="Zone_Widget">
                                </div>
                                <div>
                                    <input type="hidden" id="ParcelShopCode" name="ParcelShopCode"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cea-item">
                        <h3>Adresse d'expédition</h3>
                        <div class="cea-container-shipping_address">
                            <div class="cea-shipp_add-address_item">
                                {{ form_row(annonceForm.expAdress, {
                                    'label': false,
                                    'attr': {
                                        'placeholder': 'Adresse',
                                    }
                                }) }}
                            </div>
                            <div class="cea-shipp_add-city_zipcode">
                                <div class="cea-shipp_add-city_item">
                                    {{ form_row(annonceForm.ville, {
                                        'label': false,
                                        'attr': {
                                            'placeholder': 'Ville',
                                        }
                                    }) }}
                                </div>
                                <div class="cea-shipp_add-zipcode_item">
                                    {{ form_row(annonceForm.expZipCode, {
                                        'label': false,
                                        'attr': {
                                            'placeholder': 'Code Postal',
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cea-item container-ajouter_return">
                        <div class="cea-item cea-container-button_submit">
                            <button id="createAnnonce_submit" type="submit">+ AJOUTER</button>
                        </div>
                        <div class="cea-container-return">
                            <a class="cea-return" id="cea-return_back_page">ANNULER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(annonceForm) }}
    <div id="Zone_Widget"></div>
    <input type="hidden" id="expRelId"/>
{% endblock %}