<link rel="stylesheet" href="{{ asset('assets/emailLivraison.css') }}">

<h1>Félicitations ! Votre commande a été passée avec succès.</h1>
<h2>Vous avez choisi la transaction de "main à la main".</h2>
<p>Il ne vous reste plus qu'à vous donner rendez-vous avec {{ prenomVendeur }} afin de récupérer votre achat.</p>
<p>Il sera nécessaire de cliquer sur le lien afin suivant pour valider l'échange et finaliser la transaction.</p>

<p>Voici les informations de contact du vendeur :</p>
<p>Nom : {{ nomVendeur }}</p>
<p>Prénom : {{ prenomVendeur }}</p>
<p>Email : {{ mailVendeur }}</p>
{% if app.user.phoneNumber != null %}
    <p>Numéro de téléphone : {{ phoneVendeur }}</p>
{% endif %}
<p>Cliquez<a href="{{ url }}"> ici </a>pour rejoindre la page de confirmation de réception de votre végétal</p>
<div class="emailMerci">
    <p>Merci pour votre confiance,</p>
    <p>L'équipe Plant & Flower.</p>
</div>
