{% extends 'base.html.twig' %}

{% block title %}Mode de remise{% endblock %}

{% block js %}
    <script defer src={{ asset('assets/Javascript/modeDeRemise.js') }}></script>
{% endblock js %}

{% block body %}
    <h1>Etape 1/2</h1>
    <h2>Mode de remise</h2>
    <div class="delivery_choice">
        <div class="annonce">
            <img class="image mini-image"
                 src="{{ asset('/uploads/' ~ annonce.images[0].name) }}"
                 alt="Image miniature"/>

            <h4>{{ annonce.title }}</h4>
            <p>{{ annonce.PriceTotal }}€</p>

        </div>
        <h3>Mode de remise</h3>

        {{ form_start(form) }}

        {% if annonce.handDelivery %}
            {{ form_row(form.mainPropre, {
                'label': 'Remise en main propre',
                'id': 'checkboxHandDelivery'

            }) }}
        {% else %}
            {{ form_row(form.mainPropre, {
                'label': 'Remise en main propre',
                'disabled': 'true'
            }) }}
        {% endif %}
        {% if annonce.shipement %}
            {{ form_row(form.mondialRelay, {
                'label': 'Mondial relay',
                'id': 'checkboxShipment',
                'name':'mondialRelay'

            }) }}
        {% else %}
            {{ form_row(form.mondialRelay, {
                'label': 'Mondial relay',
                'disabled': 'true'
            }) }}
        {% endif %}
        {% if annonce.shipement %}
            <div id="priceShipment">
                <p>
                    {% if  annonce.poids  == "0g - 500g" %}
                        <span class="priceLivraison">5.50€</span>
                        <input type="hidden" value="{{ prixPoids == 5.50 }}">
                    {% elseif  annonce.poids  == "501g - 1kg" %}
                        <span class="priceLivraison">6€</span>
                        <input type="hidden" value="{{ prixPoids == 6 }}">
                    {% elseif   annonce.poids  == "1.001kg - 2kg" %}
                        <span class="priceLivraison">7.50€</span>
                        <input type="hidden" value="{{ prixPoids == 7.50 }}">
                    {% elseif annonce.poids  == "2.001kg - 3kg" %}
                        <span class="priceLivraison">8€</span>
                        <input type="hidden" value="{{ prixPoids == 8 }}">
                    {% endif %}
                </p>
                <img src="{{ asset('media/img/logo_mondial_relay.svg') }}"
                     alt="Mondial Relay">
                <h3>Total</h3>
                <p>{{ annonce.priceTotal + prixPoids }}€</p>
            </div>
        {% endif %}


        {% if annonce.handDelivery == true %}
            <div id="priceHandDelivery">
                <h3>Total</h3>
                <p>{{ annonce.priceTotal }}€</p>
            </div>
        {% endif %}

        {{ form_row(form.payer) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
