<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Site e-commerce qui offre une mise en relation entre particuliers dans l'idée de se vendre des végétaux de manière sécurisée et avec possibilité d'expédier les végétaux.">
    <meta name="google-site-verification" content="3-fSTZEFlXr_LOXecCuy7E3uYeWZ3noo0j5vUug4Ho0"/>
    <title>
        {% block title %}Plant et flower{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset("assets/app.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/homepage.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/about.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/cgu.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/faq.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/contact.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/uneAnnonce.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/lesAnnonces.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/createEditAnnonce.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/mentions.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/register.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/login.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/userProfil.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/redirectionPaiement.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/annoncePaiement.css") }}">
 

    <script defer src={{ asset('assets/Javascript/app.js') }}></script>
    <!--On charge Jquery depuis le CDN de Google-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Charger Leaflet pour l'affichage de la map-->
    <link rel="stylesheet" type="text/css" href="//unpkg.com/leaflet/dist/leaflet.css"/>
    <!--On charge le widget mondial relay depuis leurs serveurs-->
    <script type="text/javascript"
            src="https://widget.mondialrelay.com/parcelshop-picker/jquery.plugin.mondialrelay.parcelshoppicker.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    {# Favicon du site #}
    <link rel="shortcut icon" href="{{ asset('media/img/favicon.ico') }}" type="images/x-icon"/>
    {% block js %}
    {% endblock %}

</head>
<body>
<header>
    <nav>
        <div id="container-hamburger-menu">
            <a id="hamburger-menu">
                <img class="nav-icons" src="{{ asset('media/img/bars-solid.png') }}" alt="bars-main">
            </a>
        </div>
        <div class="container-profil_img">
            <a href="#">
                <img src="{{ asset('media/img/profil.png') }}" alt="Icon_profil"/>
            </a>
        </div>
        <a class="logo" id="logo_with_text" href={{ path('home_homepage') }}>
            <img src="{{ asset('media/img/Logo_plants.png') }}" alt="plante"/>
        </a>
        <a class="logo" id="text_only" href={{ path('home_homepage') }}>
            <img src="{{ asset('media/img/Text_plants.png') }}" alt="plante"/>
        </a>
        {% if app.user %}
            <ul class="list-users_pages">
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('admin') }}">
                            <img class="nav-icons" src="{{ asset('media/img/server-solid.png') }}" alt="admin">
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href={{ path('user_profil',{'id' : app.user.id }) }}>
                        <img class="nav-icons" src="{{ asset('media/img/user-pen-solid.png') }}" alt="user-profil">
                    </a>
                </li>
                <li class="secondary_users_page">
                    <a href={{ path('security_logout') }}>
                        <img class="nav-icons" src="{{ asset('media/img/person-exit-solid.png') }}"
                             alt="user-disconnect">
                    </a>
                </li>
            </ul>
        {% else %}
            <ul class="list-users_pages">
                <li class="secondary_users_page">
                    <a href={{ path('registration_register') }}>
                        <img class="nav-icons" src="{{ asset('media/img/user-plus-solid.png') }}"
                             alt="user-register">
                    </a>
                </li>
                <li>
                    <a href={{ path('security_login') }}>
                        <img class="nav-icons" src="{{ asset('media/img/user-solid.png') }}" alt="user-connect">
                    </a>
                </li>
            </ul>
        {% endif %}
        <div class="list-mains_pages" id="list-mains_pages">
            <a href={{ path('home_homepage') }}>Accueil</a>
            <a href={{ path('home_annonces') }}>Annonces</a>
            <a href={{ path('home_about') }}>À propos</a>
            <a href={{ path('home_faq') }}>FAQ</a>
            <a href={{ path('home_contact') }}>Contact</a>
        </div>
        <div id="container-dropdown-secondary_user_page">
            {% if app.user %}
                <ul class="list-users_pages">
                    <li>
                        <a href={{ path('security_logout') }}>
                            <img class="nav-icons" src="{{ asset('media/img/person-exit-solid.png') }}"
                                 alt="user-disconnect">
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="list-item2">
                            <a href="{{ path('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="list-users_pages">
                    <li>
                        <a href={{ path('registration_register') }}>
                            <img class="nav-icons" src="{{ asset('media/img/user-plus-solid.png') }}"
                                 alt="user-register">
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

</header>
<main>
    <div class="divBanniere">
        <img src="{{ asset('media/img/banniere-search.png') }}" alt="" class="backgroundSite">
    </div>
    {% block body %}{% endblock %}

</main>
<footer>
    <div class="container-footer_right">
        <div class="container-links">
            <h6 class="title-links">DÉCOUVRIR</h6>
            <a href={{ path('home_annonces') }}>Annonces</a>
            <a href={{ path('security_login') }}>Connexion</a>
            <a href={{ path('registration_register') }}>Inscription</a>
        </div>
        <div class="container-links">
            <h6 class="title-links">EN SAVOIR PLUS</h6>
            <a href={{ path('home_about') }}>Notre histoire</a>
            <a href={{ path('home_contact') }}>Contact</a>
            <a href={{ path('home_faq') }}>F.A.Q</a>
        </div>
        <div class="container-links">
            <h6 class="title-links">LÉGAL</h6>
            <a href={{ path('home_mentionsLegales') }}>Mentions légales</a>
            <a href={{ path('home_cgu') }}>CGU - CGV</a>
        </div>
    </div>
    <div class="container-footer_left">
        <p>Échangez vos végétaux préférés
            <wbr>
            partout en france
        </p>
        <div class="container-social_network-icons">
            <a href="https://www.facebook.com/Plantetflower-110812368257334/" target="_BLANK"><img
                        src="https://img.icons8.com/color/48/000000/facebook-new.png"
                        alt="Page Facebook de Plant&Flower"/></a>
            <a href="https://www.instagram.com/plantetflower/" target="_BLANK"><img
                        src="https://img.icons8.com/fluency/48/000000/instagram-new.png"
                        alt="Page Instagram de Plant&Flower"/></a>
        </div>
        <div class="all_rights_reserved">
            <p>
                © 2022-2023 Tous droits réservés —
            </p>
            <a class="logoFooter" href={{ path('home_homepage') }}>
                <img src="{{ asset('media/img/Logo_plants.png') }}"/>
            </a>
        </div>
    </div>
</footer>
</body>
</html>
