{% extends 'base.html.twig' %}

{% block title %}
    Modification du profil - Plant&Flower
{% endblock %}

{% block js %}
    <script defer src={{ asset('assets/Javascript/userProfil.js') }}></script>
{% endblock js %}

{% block body %}
    <div class="container_profil">
        <div class="container-uP-title">
            <h1>Bienvenue sur votre page de profil</h1>
            <a href="{{ path('user_edit',{'id': app.user.id}) }}">Modifier votre profil</a>
        </div>
        {% if app.user.owner %}
            <div class="container-uP-btn-create_annonce">
                <a href="{{ path('annonce_ajouter') }}">Créer une annonce</a>
            </div>
        {% endif %}
        {% if app.user.owner == "vendeur" %}
            <div class="uP-message">
                {{ form_start(informationForm) }}
                <p class="message_text">Pour accéder à la création d'annonce, il est impératif de renseigner vos
                    coordonnées bancaires. L'argent généré par la vente sera directement transmis sur le compte
                    renseigné. Ces informations resteront bien évidemment confidentielles sur le site.
                    <a class="lien-mango" href="https://www.mangopay.com/fr/">MangoPay</a>
                </p>
                <div class="container_iban">
                    {{ form_label(informationForm.IBAN) }}
                    <div class="input_iban">
                        {{ form_widget(informationForm.IBAN, {
                            'attr': {
                                'class': 'iban',
                                'placeholder' : 'IBAN',
                            },
                        }) }}
                    </div>
                </div>
                <div class="input_file">
                    <p class="identity_text">Merci de joindre un justificatif d'identité comme votre carte
                        d'identité, passeport ou permis de conduire
                        <a class="lien-mango"
                           href='https://docs.mangopay.com/guide/guidelines-for-identity-documents'
                           target='_BLANK'>(voir MangoPay)</a>.
                    </p>
                    <p class="identity_text">La pièce d'identité doit être celle du propriétaire du compte
                        bancaire.</p>
                    <div class="container_KYC">
                        <div class="img-upload identityUpload">
                            {{ form_row(informationForm.KYCrecto, {
                                "label": "Recto",
                                "label_attr": {
                                    'class': "btn-upload"
                                },

                            }) }}
                            {{ form_row(informationForm.KYCverso, {
                                "label": "Verso",
                                "label_attr": {
                                    'class': "btn-upload"
                                },
                                'id': "get-file1"
                            }) }}
                        </div>
                    </div>
                    {{ form_end(informationForm) }}
                </div>
            </div>
        {% endif %}
        <div class="container-all_uP_categories">
            <div class="nav_user_profil">
                <p class="nav_user_profil-btn" id="btn-informations">Mes informations</p>
                <p class="nav_user_profil-btn" id="btn-purchases">Mes achats</p>
                {% if app.user.owner %}
                    <p class="nav_user_profil-btn" id="btn-annonces">Mes annonces et ventes</p>
                {% endif %}
            </div>
            <div class="display" id="informations_display">
                <div class="main_informations">
                    <div class="container-image_profil">
                        {% if (app.user.image) %}
                            <img class="image_profil"
                                 src="{{ asset('/uploads/profils/' ~ app.user.image) }}"
                                 alt="Photo de profil">
                        {% else %}
                            <img class="image_profil" src="{{ asset('media/img/profil.png') }}"
                                 alt="Photo de profil default">
                        {% endif %}
                    </div>
                    <div class='container-name_first_name_role'>
                        <div class="container-information">
                            <p>Nom :
                                <span class="secondary_informations">{{ app.user.lastname }}</span></p>
                        </div>
                        <div class="container-information">
                            <p>Prénom :
                                <span class="secondary_informations">{{ app.user.firstname }}</span></p>
                        </div>
                        <div class="container-information">
                            <p>Rôle :
                                {% if app.user.owner %}
                                <span class="secondary_informations">Acheteur et vendeur</span>
                                {% else %}
                                <span class="secondary_informations">Acheteur</span></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container-address">
                    {% if (app.user.address) %}
                        <p>Adresse :</p>
                        <p class="secondary_informations">
                            {{ app.user.address }}
                            - {{ app.user.zipcode }} {{ app.user.city }}
                        </p>
                    {% else %}
                        <p>Adresse :</p>
                        <p class="secondary_informations">
                            <u>Adresse à renseigner !</u>
                        </p>
                    {% endif %}
                </div>
                <div class='container-phone_mail'>
                    <div class="container-phone">
                        {% if (app.user.phoneNumber) %}
                            <p>Téléphone :</p>
                            <p class="secondary_informations">{{ app.user.phoneNumber }}</p>
                        {% else %}
                            <p>Téléphone :</p>
                            <p class="secondary_informations">
                                <u>Téléphone à renseigner !</u>
                            </p>
                        {% endif %}
                    </div>
                    <div class="container-mail">
                        <p>Email :</p>
                        <p class="secondary_informations">{{ app.user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="display" id="purchases_display">
                {% if annonces | length == 0 %}
                    <div class="not_annonces">
                        <p>Vous n'avez pas encore effectué d'achat. Consultez les annonces dès maintenant !</p>
                        <a class="uP-btn-create_annonce"
                           href="{{ path('home_annonces') }}">Tous les végétaux</a>
                    </div>
                {% elseif annonces %}
                    <div class="up-container-all_annonces">
                        {% for annonce in annonces %}
                            {% if annonce.sold == 1 and annonce.confirm == 0 %}
                                <a class="uP-container-annonce"
                                   data-ref={{ annonce.id }} href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                                    <div class="container-title_sales_status container-sold_not_confirm_annonces">
                                        <p class="annonce_title">{{ annonce.title }}</p>
                                        <p class='sales_status'>À confirmé</p>
                                    </div>
                                    <div class="container-price_date_shipment">
                                        <div class="container-price_date container-sold_not_confirm_annonces">
                                            <p>{{ annonce.priceTotal }} €</p>
                                            <p>Expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}</p>
                                        </div>
                                        <div class="container-uP-shipment container-sold_not_confirm_annonces">
                                            {% if annonce.handDelivery == true %}
                                                <p class="uP-shipment">En main propre</p>
                                            {% endif %}
                                            {% if annonce.shipement == true %}
                                                <p class="uP-shipment">Livraison</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                        {% for annonce in annonces %}
                            {% if annonce.sold == 1 and annonce.confirm == 1 %}
                                <a class="uP-container-annonce"
                                   data-ref={{ annonce.id }} href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                                    <div class="container-title_sales_status container-sold_confirm_annonces">
                                        <p class="annonce_title">{{ annonce.title }}</p>
                                        <p class='sales_status'>Acheté</p>
                                    </div>
                                    <div class="container-price_date_shipment">
                                        <div class="container-price_date container-sold_confirm_annonces">
                                            <p>{{ annonce.priceTotal }} €</p>
                                            <p>Expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}</p>
                                        </div>
                                        <div class="container-uP-shipment container-sold_confirm_annonces">
                                            {% if annonce.handDelivery == true %}
                                                <p class="uP-shipment">En main propre</p>
                                            {% endif %}
                                            {% if annonce.shipement == true %}
                                                <p class="uP-shipment">Livraison</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if (app.user.owner) %}
                <div class="display" id="annonces_display">
                    {% if app.user.annonces | length == 0 %}
                        <div class="not_annonces">
                            <p>Vous n'avez pas encore d'annonces. Créez en une dès maintenant !</p>
                            <a class="uP-btn-create_annonce"
                               href="{{ path('annonce_ajouter') }}">Créer une annonce</a>
                        </div>
                    {% elseif app.user.annonces %}
                        <div class="up-container-all_annonces">
                            {% for annonce in app.user.annonces %}
                                {% if annonce.sold == 0 %}
                                    <a class="uP-container-annonce"
                                       data-ref={{ annonce.id }} href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                                        <div class="container-title_sales_status container-not_sold_annonces">
                                            <p class="annonce_title">{{ annonce.title }}</p>
                                            <p class='sales_status'>En cours</p>
                                        </div>
                                        <div class="container-price_date_shipment">
                                            <div class="container-price_date container-not_sold_annonces">
                                                <p>{{ annonce.priceTotal }} €</p>
                                                <p>Expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}</p>
                                            </div>
                                            <div class="container-uP-shipment container-not_sold_annonces">
                                                {% if annonce.handDelivery == true %}
                                                    <p class="uP-shipment">En main propre</p>
                                                {% endif %}
                                                {% if annonce.shipement == true %}
                                                    <p class="uP-shipment">Livraison</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            {% for annonce in app.user.annonces %}
                                {% if annonce.sold == 1 and annonce.confirm == 0 %}
                                    <a class="uP-container-annonce"
                                       data-ref={{ annonce.id }} href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                                        <div class="container-title_sales_status container-sold_not_confirm_annonces">
                                            <p class="annonce_title">{{ annonce.title }}</p>
                                            <p class='sales_status'>À confirmé</p>
                                        </div>
                                        <div class="container-price_date_shipment">
                                            <div class="container-price_date container-sold_not_confirm_annonces">
                                                <p>{{ annonce.priceTotal }} €</p>
                                                <p>Expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}</p>
                                            </div>
                                            <div class="container-uP-shipment container-sold_not_confirm_annonces">
                                                {% if annonce.handDelivery == true %}
                                                    <p class="uP-shipment">En main propre</p>
                                                {% endif %}
                                                {% if annonce.shipement == true %}
                                                    <p class="uP-shipment">Livraison</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            {% for annonce in app.user.annonces %}
                                {% if annonce.sold == 1 and annonce.confirm == 1 %}
                                    <a class="uP-container-annonce"
                                       data-ref={{ annonce.id }} href={{ path('annonce_afficher', {'annonceId': annonce.id}) }}>
                                        <div class="container-title_sales_status container-sold_confirm_annonces">
                                            <p class="annonce_title">{{ annonce.title }}</p>
                                            <p class='sales_status'>Vendu</p>
                                        </div>
                                        <div class="container-price_date_shipment">
                                            <div class="container-price_date container-sold_confirm_annonces">
                                                <p>{{ annonce.priceTotal }} €</p>
                                                <p>Expiration : {{ annonce.dateExpiration | date ('d/m/Y') }}</p>
                                            </div>
                                            <div class="container-uP-shipment container-sold_confirm_annonces">
                                                {% if annonce.handDelivery == true %}
                                                    <p class="uP-shipment">En main propre</p>
                                                {% endif %}
                                                {% if annonce.shipement == true %}
                                                    <p class="uP-shipment">Livraison</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}